@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundWithGradient {
  background-image: url("../public/bg-2.jpg");

  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.backgroundWithGradient::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #8a2be2, #ff00ff, 0.4);
}

.backgroundWithGradient2 {
  background-image: url("../public/bg-3.jpg");

  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
